[package]
name = "encrypted-dns"
version = "0.9.12"
authors = ["Frank Denis <github@pureftpd.org>"]
edition = "2018"
description = "A modern encrypted DNS server (DNSCrypt v2, Anonymized DNSCrypt, DoH)"
keywords = ["dnscrypt", "encryption", "dns", "doh", "proxy"]
license = "MIT"
homepage = "https://github.com/jedisct1/encrypted-dns-server"
repository = "https://github.com/jedisct1/encrypted-dns-server"
categories = ["asynchronous", "network-programming", "command-line-utilities"]
readme = "README.md"

[dependencies]
anyhow = "1.0.70"
byteorder = "1.4.3"
clap = { version = "3.2.23", default-features = false, features = [
  "std",
  "cargo",
  "wrap_help",
] }
clockpro-cache = "0.1.11"
coarsetime = "0.1.23"
daemonize-simple = "0.1.5"
derivative = "2.2.0"
dnsstamps = "0.1.9"
env_logger = { version = "0.10.0", default-features = false, features = [
  "humantime",
] }
futures = { version = "0.3.28", features = ["async-await"] }
hyper = { version = "0.14.26", default-features = false, features = [
  "server",
  "http1",
], optional = true }
ipext = "0.1.0"
libsodium-sys-stable = "1.19.27"
log = { version = "0.4.17", features = ["std", "release_max_level_debug"] }
mimalloc = { version = "0.1.36", default-features = false }
socket2 = "0.5.2"
parking_lot = "0.12.1"
rand = "0.8.5"
rlimit = "0.9.1"
rustc-hash = "1.1.0"
serde = "1.0.160"
serde_derive = "1.0.160"
serde-big-array = "0.5.1"
siphasher = "0.3.10"
slabigator = "0.2.0"
tokio = { version = "1.27.0", features = [
  "net",
  "io-std",
  "io-util",
  "fs",
  "time",
  "rt-multi-thread"
] }
toml = "0.7.3"

[target.'cfg(target_family = "unix")'.dependencies]
privdrop = "0.5.3"

[dependencies.prometheus]
optional = true
package = "prometheus-32bitfix"
version = "0.13.1"
default-features = false
features = ["process"]

[features]
default = ["metrics"]
metrics = ["hyper", "prometheus"]

[package.metadata.deb]
extended-description = """\
An easy to install, high-performance, zero maintenance proxy to run an \
encrypted DNS server."""
assets = [
  [
    "target/release/encrypted-dns",
    "usr/bin/",
    "755",
  ],
  [
    "README.md",
    "usr/share/doc/encrypted-dns/README.md",
    "644",
  ],
  [
    "example-encrypted-dns.toml",
    "usr/share/doc/encrypted-dns/example-encrypted-dns.toml",
    "644",
  ],
]
section = "network"
depends = "$auto"
priority = "optional"

[profile.release]
codegen-units = 1
incremental = false
panic = "abort"
