[package]
name = "encrypted-dns"
version = "0.3.16"
authors = ["Frank Denis <github@pureftpd.org>"]
edition = "2018"
description = "A modern encrypted DNS server (DNSCrypt v2, Anonymized DNSCrypt, DoH)"
keywords = ["dnscrypt", "encryption", "dns", "doh", "proxy"]
license = "MIT"
homepage = "https://github.com/jedisct1/encrypted-dns-server"
repository = "https://github.com/jedisct1/encrypted-dns-server"
categories = ["asynchronous", "network-programming","command-line-utilities"]
readme = "README.md"

[dependencies]
anyhow = "1.0.28"
byteorder = "1.3.4"
clap = { version = "2.33.0", default-features = false, features = ["wrap_help", "nightly"] }
clockpro-cache = "0.1.8"
coarsetime = "0.1.12"
daemonize-simple = "0.1.4"
derivative = "2.1.0"
dnsstamps = "0.1.4"
env_logger = { version = "0.7.1", default-features = false, features = ["humantime"] }
futures = { version = "0.3.4", features = ["async-await"] }
hyper = { version = "0.13.4", default_features = false, optional = true }
ipext = "0.1.0"
jemallocator = "0.3.2"
libsodium-sys-stable= "1.19.4"
log = { version = "0.4.8", features = ["std", "release_max_level_debug"] }
net2 = "0.2.33"
parking_lot = "0.10.0"
privdrop = "0.3.4"
rand = "0.7.3"
rustc-hash = "1.1.0"
serde = "1.0.106"
serde_derive = "1.0.106"
serde-big-array = "0.2.0"
siphasher = "0.3.2"
tokio = { version = "0.2.17", features = ["fs", "rt-threaded", "time", "tcp", "udp", "stream", "parking_lot"] }
toml = "0.5.6"

[dependencies.prometheus]
optional = true
version = "0.8.0"
default_features = false
features = ["process"]

[features]
default = ["metrics"]
metrics = ["hyper", "prometheus"]

[package.metadata.deb]
extended-description = """\
An easy to install, high-performance, zero maintenance proxy to run an \
encrypted DNS server."""
assets = [
  ["target/release/encrypted-dns", "usr/bin/", "755"],
  ["README.md", "usr/share/doc/encrypted-dns/README.md", "644"],
  ["example-encrypted-dns.toml", "usr/share/doc/encrypted-dns/example-encrypted-dns.toml", "644"]
]
section = "network"
depends = "$auto"
priority = "optional"

[profile.release]
codegen-units = 1
incremental = false
panic = "abort"
